@use "./transition.scss";

/* Define separate faces per weight. This avoids a single declaration that claims
   ranges when only specific files exist. Prefer woff2/woff; fall back to ttf.
*/
@font-face {
  font-family: 'Epilogue-Regular';
  src: url('/fonts/Epilogue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue-Black';
  src: url('/fonts/Epilogue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@function vw($px, $base: 1440) {
  @return ($px / $base) * 100vw;
}

:root {
  line-height: 1.3;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #F0EBE6;
  --smooth-red: #A0325A;
  --orange: #F67444;
  --purple: #A61BFE;
  --black: #000000;

  --main-font: 'Epilogue-Regular', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-font-black: 'Epilogue-Black', system-ui, Avenir, Helvetica, Arial, sans-serif;

}

html {
  font-size: calc(100vw / 1440 * 10);
}

html,
body {
  max-width: 100vw;
  overscroll-behavior: none;
  background-color: var(--bg-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--main-font-black);
  color: var(--black);

  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Navigation
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: vw(80);
  padding: 0 vw(24);
}

.header__nav {

  ul {
    display: flex;
    list-style: none;
  }

  a {
    padding: 1rem;
    text-decoration: none;
    color: var(--black);
    font-size: vw(16);
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: vw(160);
  height: vw(50);

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.header__whatsapp {
  font-size: vw(16);
}


h1 {
  font-family: var(--main-font-black);
}

main {
  height: 100vh;
  width: 100%;
  padding: vw(24) vw(32);
}

.main__title--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: vw(80) 0;
}

.main__title {
  font-size: vw(96);
}

.main__block {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: vw(24);
}

// Variants for different pages
.main.home .main__block {
  background-color: var(--smooth-red);
}

.main.work .main__block {
  background-color: var(--orange);
}

.main.contact .main__block {
  background-color: var(--purple);
}


// Transition overlay styles
.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 3;
  color: var(--orange);
}